body {
	background-image: url("../../assets/images/cave.jpg");
	background-size: 100%;
	color: white;
	font-family: 'Cabin Sketch', cursive;
	min-height: 100%;
}

h1 {
	padding-top: 20px;
	opacity: 1;
	font-weight: bold;
}

h2 {
	margin-top: 10px;
}

p {
	margin-bottom: 0;
}

.page-header {
	background-color: black;
	opacity: 0.6;
	border-bottom: 0;
	text-align: center;
	border-radius: 6px;
	margin-top: 20px;
}

.jumbotron {
	background-color: black;
	opacity: 0.6;
}

#theme-button {
	font-weight: bold;
	opacity: 1.0;
	margin-bottom: 15px;
}

#play {
	font-weight: bold;
	opacity: 1.0;
	margin-bottom: 15px;
}

#reset {
	font-weight: bold;
	opacity: 1.0;
	vertical-align: middle;
}

#crystals {
	margin-bottom: 50px;
}

.crystal-image {
  	width: 100px;
  	height: 100px;
}

footer {
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.8;
}

@media (max-width: 768px) {
	body {
		background-image: url("../../assets/images/cave.gif") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	h1 {
		font-size: 50px;
	}

	.page-header {
		margin-top: 20px;
	}

	.jumbotron {
		margin-bottom: 10px;
		padding: 15px;
	}

	.crystal-image {
	  	width: 75px;
	  	height: 75px;
	}

	#reset {
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		background-image: url("../../assets/images/cave.gif") no-repeat center center bottom fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	.jumbotron {
		padding: 15px!important;
	}
}

@media only screen and (min-width: 992px) {
	body {
		background-image: url("../../assets/images/cave.gif") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background-image: url("../../assets/images/cave.gif") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
}	